<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <title>Formulário Simples</title>
  </head>

  <body>
    <header class="main-header-home">
      <button type="menu" class="btn-on-off-menu material-symbols-outlined">
        <span class="aside-left-off"> menu </span>
      </button>

      <nav class="nav-links">
        <a href="/login/sing-in">Login</a>
        <a href="/login/register">Register</a>
      </nav>
    </header>

    <aside class="menu-left">
      <nav class="side-left"></nav>
    </aside>

    <section class="main-container"></section>

    <script src="../../../public/dist/bundle.js"></script>
  </body>
</html>
