<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Registro</title>
  </head>

  <body>
    <header class="container-header-register">
      <h1>Preencha seus dados!</h1>
    </header>
    <form
      action="/login/register/registered"
      method="post"
      class="form-register"
    >
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div class="container-input">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
        <small class="small-register">teste</small>
      </div>
      <div class="container-input">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
        <small class="small-register">teste</small>
      </div>
      <div class="container-input">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <small class="small-register">teste</small>
      </div>

      <div class="container-btn-register">
        <input type="submit" value="Cadastrar" id="submit-register" />
      </div>
    </form>

    <script src="../../../public/dist/bundle.js"></script>
  </body>
</html>
