<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário Simples</title>
  </head>
  <body>
    <section class="main-container">
      <aside class="container-navbar-left">
        <div class="side-left"></div>
      </aside>

      <section></section>

      <div class="container-navbar-rigth"></div>
    </section>

    <script src="../../../public/dist/bundle.js"></script>
  </body>
</html>
