<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <title>Formulário Simples</title>
  </head>

  <body>
    <header class="header-home">
      <aside class="aside-menu">
        <button class="toggle-btn"><i class="bi bi-list"></i></button>
      </aside>

      <aside class="aside-form">
        <ul>
          <li>
            <a href="/login/sing-in"
              ><i class="bi bi-box-arrow-in-right"></i>Sing In</a
            >
          </li>
          <li><a href="/login/register">Register</a></li>
        </ul>
      </aside>
    </header>
    <div class="container-main-content">
      <section class="container-side-bar">
        <aside class="sideBar">
          <div class="side-bar-left">
            <ul>
              <li>
                <a href="#"><i class="bi bi-person-circle"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-list-task"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-gear"></i></a>
              </li>
            </ul>
          </div>
        </aside>
      </section>
      <section class="container-content">
        <div class="infor-groups">
          <a href="../pageGroups/group.ejs"><div class="groups"></div></a>
          <div class="groups">Grupo de historia</div>
          <div class="groups">Grupo de matematica</div>
          <div class="groups">Grupo de Portugues</div>
        </div>
      </section>
      <section class="container-options">
        <div class="create-group"><i class="bi bi-plus-lg"></i></div>
      </section>
    </div>

    <script src="../../../public/dist/bundle.js"></script>
  </body>
</html>
