<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <title>Formulário Simples</title>
  </head>
  <body>
    <header class="main-container-header">
      <h1>Next Level Code</h1>
      <nav>
        <a href="/login/sing-in">Login</a><a href="/login/register">Entrar</a>
      </nav>
    </header>

    <section class="main-container">
      <aside class="container-navbar-left">
        <nav class="side-left">
          <button type="menu" class="btn-nav-left material-symbols-outlined">
            <span class="aside-left-off"> menu </span>
          </button>
        </nav>
      </aside>

      <section class="container-content-main">KKKKKKKK</section>

      <aside class="container-navbar-rigth">
        <nav class="side-rigth">
          <button type="menu" class="btn-nav-left material-symbols-outlined">
            <span class="aside-left-off"> menu </span>
          </button>
        </nav>
      </aside>
    </section>

    <%- include('includes/head') -%>
 