<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Registro</title>
  </head>
  <body>
    <form action="/login/sing-in/logado" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <% console.log(errorLogin) %>
      <small><%= errorLogin[0] %></small>
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" required />

      <input type="submit" value="Login" />
    </form>

    <script src="../../../public/dist/bundle.js"></script>
  </body>
</html>
