@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-decoration: none;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvb;

  background-color: #111010;
  color: beige;
}

ul,
li {
  list-style: none;
}
